.header {
    background-color: var(--main-color);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 101;
  
}

.title {
    color:var(--text-color);
    font-size: 25px;
}